/* estilo01.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo para la barra de navegación */
#navbar {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 10;
  padding: 15px 0;
}

#navbar ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  display: inline-block;
  margin: 0 15px;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 20px;
}

#navbar ul li a:hover {
  background-color: #333;
  border-radius: 5px;
}

/* slider */
#container--slider {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 50px; /* Ajusta si es necesario */
}

#slider {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 300px;
}

#slider ul {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  z-index: -1;
  opacity: 0;
}
/* Continuación de estilo01.css */

#container--slider .arrowPrev, #container--slider .arrowNext {
  font-size: 30pt;
  color: rgba(204, 204, 204, 0.65);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 30px;
  z-index: 2;
}

#container--slider .arrowNext {
  left: initial;
  right: 30px !important;
}

.content-slider {
  padding: 15px 30px;
  color: #FFF;
  width: 100%;
  height: 100%;
}

.content-slider div {
  text-align: center;
}

.content-slider h2 {
  font-family: 'arial';
  font-size: 34pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.content-slider p {
  font-size: 15pt;
  font-family: 'arial';
  color: #FFF;
  margin-bottom: 20px;
}

#slider li .content_slider{
  background: rgba(0, 0, 0, 0.50);
  padding: 10px 125px;
}

.content-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSlider {
  color: #FFF;
  font-size: 15pt;
  font-family: 'arial';
  letter-spacing: 1px;
  padding: 10px 50px;
  border: 1px solid #CCC;
  background: rgba(13, 13, 13, 0.55);
  border-radius: 41%;
  text-decoration: none;
  transition: .5s all;
}

.btnSlider:hover {
  background: #111;
  border: 1px solid #111;
}

.listSlider {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  bottom: 4%;
  list-style: none;
  z-index: 2;
  transform: translateX(-50%);
}

.listSlider li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin: 0 5px;
}
/* Continuación de estilo01.css */

.listSlider li a {
  background: #CCC;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
}

.item-select-slid {
  background: #FFF !important;
}

@media screen and (max-width: 460px) {
  .content-slider h2 {
    font-size: 15pt !important;
  }

  .content-slider p {
    font-size: 12pt !important;
  }

  #container-slider .arrowPrev, #container-slider .arrowNext {
    font-size: 20pt;
  }

  #container-slider .arrowPrev {
    left: 15px;
  }

  #container-slider .arrowNext {
    right: 15px !important;
  }

  #slider {
    height: 400px;
    min-height: 400px;
  }

  #slider li .content_slider {
    padding: 10px 35px;
  }

  .btnSlider {
    padding: 10px 30px;
    font-size: 10pt;
  }
}